<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="http://cstsinghua.github.io/" target="_blank" title="friends">Atypical programmer</a></li>
      <li><a href="http://aso210.github.io/" target="_blank" title="friends">aso210</a></li>
	  <li><a href="http://developer.android.com/" target="_blank" title="coney">Android官网</a></li>
    </ul>
</div>
